@import "/src/app/scss//hover.mixin.scss";

.table {
	width: 100%;
	.mat-row {
		&:nth-child(2n) {
			background-color: rgb(227, 224, 224);
		}
	}
	.mat-row .draw {
		border-left: 1px solid black;
		border-right: 1px solid black;
		text-align: center;
	}

	.mat-cell {
		@include hover {
			background-color: #3f51b555;
			cursor: pointer;
		}
	}
}

.right {
	text-align: right;
}
.draw {
	text-align: center;
}
