@import "/src/app/scss//media.mixins.scss";

:host {
	display: flex;
}

::ng-deep .mat-bottom-sheet-container.basket {
	padding: 0 !important;
}

@include mediaMobile {
	:host {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
	}
}

@include mediaTablet {
	:host {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
	}
}
