@import "../theme";

.app-wrapper {
	height: 100%;
}

.toolbar {
	height: 50px;
	width: 100%;
}

.mat-drawer-container,
.sidenav-container {
	height: calc(100% - 73px);
}

.mat-sidenav {
	width: 200px;
}

.mat-sidenav-content {
	padding: 0.5rem;
}
