.header {
	padding: 0.5rem;
}

.logo-wrapper {
	width: 50px;
	display: block;
	margin-right: auto;
	margin-left: 0;
}
.logo {
	display: block;
	width: 100%;
	max-width: 50px;
}
.title {
	margin-right: auto;
	margin-left: 0;
}
